nav {
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.link {
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.active {
    color: #e91e63; /* Цвет выделенной ссылки */
    font-weight: bold;
    text-decoration: underline;
}

.link:hover {
    text-decoration: underline;
}
