.castList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.castItem {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.actorImage {
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin-right: 15px;
}

.actorInfo {
    display: flex;
    flex-direction: column;
}

.actorInfo p {
    margin: 5px 0;
}
